<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script>
</head>

<body>
    <div class="container">
        <h1>Checkboard</h1>
        <div class="row8x8">
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
        </div>
        <div class="row8x8">
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
        </div>
        <div class="row8x8">
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
        </div>
        <div class="row8x8">
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
        </div>
        <div class="row8x8">
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
        </div>
        <div class="row8x8">
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
        </div>
        <div class="row8x8">
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
        </div>
        <div class="row8x8">
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
        </div>
    </div>
</body>

</html>